@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: #d2fffd;
}
section {
	width: 340px;
	padding: 30px;
	background-color: #000000;
	margin: 50px auto;
	box-shadow: 10px 10px 30px rgba(82, 82, 82, 0.1);
	border-radius: 10px;
}
section nav.menu {
	width: 100%;
}
section nav.menu::after {
	content: ""; 
	display: block;
	clear: both;
	font-size: 15px;
	font-family: "arial";
}
section nav.menu a {
	font-size: 20px;
	color: #666;
}
section nav.menu a:nth-of-type(1) {
	float: left;
}
section nav.menu a:nth-of-type(2) {
	float: right
}
section article.profile {
	width: 100%;
	text-align: center;
}
section article.profile img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
	box-shadow: 0 0 30px rgba(202, 202, 202, 0.8)
}
section article.profile h1 {
	font-weight: bold;
	font-size: 22px;
	font-family: "arial";
	line-height: 2;
	color: #ffffff;
	margin-bottom: 5px;
}
section article.profile h2 {
	font-weight: normal;
	font-size: 12px;
	font-family: "arial";
	color: #929292;
	margin: 20px;
}
section article a.btnView {
	display: block;
	width: 180px;
	height: 32px;
	margin: 0px auto 10px;
	background-color: #444;
	border-radius: 16px;
	font-weight: bold;
	font-size: 10px;
	font-family: "arial";
	color: #fff;
	line-height: 32px;
	text-align: center;
	background: linear-gradient(45deg, #4affff, #35e0f7);
	box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.493);
}
section ul.contact {
	margin: 15px auto 25px;
}
section ul.cantact li {
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #eee;
}
section ul.contact li:last-child {
	border-bottom: none;
}
section ul.contact li i {
	width: 20%;
	text-align: center;
	color: #a1a1a1;
	font-size: 13px;
}

section ul.contact li span {
	font-weight: normal;
	font-size: 10px;
	font-family: "orbitron";
	color: #a1a1a1;
	letter-spacing: 1px;
}
section nav.others {
	width: 100%;
	text-align: center;
}
section nav.others a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 0px 10px;
	opacity: 0.3;
	filter: saturate(0.6); /*채도*/
}
section nav.others a.on {
	opacity: 1;
	filter: saturate(1); /*채도*/
}
section nav.others a:nth-of-type(1) {
	background-color: #15f7ff;
	box-shadow: 5px 5px 5px rgba(177, 255, 255, 0.4);
}
section nav.others a:nth-of-type(2) {
	background-color: #93ff8b;
	box-shadow: 5px 5px 5px rgba(207, 255, 214, 0.4);
}
section nav.others a:nth-of-type(3) {
	background-color: #ff71e7;
	box-shadow: 5px 5px 5px rgba(255, 202, 246, 0.4);
}
section nav.others a:nth-of-type(4) {
	background-color: #9143eb;
	box-shadow: 5px 5px 5px rgba(226, 118, 248, 0.4);
}
/* member1 */
body.member1{
	background-color: #15f7ff50;
}
body.member1 section article.profile img {
	box-shadow: 0px 0px 20px rgba(104, 247, 239, 0.8);
}
body.member1 section a.btnView {
	background: linear-gradient(45deg, #4affff, #35e0f7);
	box-shadow: 5px 10px 20px rgba(0, 255, 255, 0.493);
}
/* member2 */
body.member2{
	background-color: #93ff8b79;
}
body.member2 section article.profile img {
	box-shadow: 0px 0px 20px rgba(154, 255, 205, 0.8);
}
body.member2 section a.btnView {
	background: linear-gradient(45deg, #a0ff9d, #55f5b2);
	box-shadow: 5px 10px 20px rgba(33, 250, 105, 0.3);
}
/* member3 */
body.member3{
	background-color: #ff71e78a;
}
body.member3 section article.profile img {
	box-shadow: 0px 0px 20px rgba(255, 146, 228, 0.555);
}
body.member3 section a.btnView {
	background: linear-gradient(45deg, #ef74ff, #ff11c4);
	box-shadow: 5px 10px 20px rgba(255, 17, 196, 0.357);
}
/* member4 */
body.member4{
	background-color: #9143eb83;
}
body.member4 section article.profile img {
	box-shadow: 0px 0px 20px rgba(245, 132, 255, 0.555);
}
body.member4 section a.btnView {
	background: linear-gradient(45deg, #8e74ff, #a011ff);
	box-shadow: 5px 10px 20px rgba(160, 17, 255, 0.4);
}
